.Drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  max-width: 300px;
  padding: 20px 10px;
  box-sizing: border-box;
  z-index: 90;
  background: #fff;
  transform: translateX(0px);
  transition: transform, 0.22s ease-in;

  &.close {
    transform: translateX(-300px);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 15px;

      a {
        color: #363d54;
        font-size: 30px;
        text-decoration: none;
        background-color: #fff;
        position: relative;
        padding: 0 20px 10px 20px;
        transition: opacity, 0.3s;

        &:hover,
        .active {
          opacity: 0.7;
        }
      }
    }
  }
}
